{% extends 'base.html' %}

{% block title %}My Avatar Generator{% endblock %}

{% block body %} 

    <h1> Welcome to Avatar Generator</h1>
    <h3> There are only three types of people:</h3>
    <h3> A Dog lover,       a Cat lover,      or a Disney enthusiast </h3>
    <h3> No matter who you are, we have an avatar that you will love.</h3>




    <form action="/random_disney">
        My Disney avatar

        <br><button type="submit" name="random_disney" value="random_disney">Go Disney</button>

    </form>


    <form action="/random_cat">
        My Cat avatar

        <br><button type="submit" name="random_cat" value="random_cat">Meow</button>

    </form>


    <form action="/random_dog">
        My Dog avatar

        <br><button type="submit" name="random_dog" value="random_dog">Fetch</button>

    </form>
    




{% endblock %}