{% extends 'base.html' %}

{% block title %}My Avatar Generator{% endblock %}

{% block body %} 
    <h1>My Disney avatar</h1>

    <form action="/random_disney">
        Surprise me with my Disney avatar

        <button type="submit" name="random_disney" value="random_disney">Random my Disney avatar</button>

    </form>


    <form action="/random_cat">
        Surprise me with my Cat avatar

        <button type="submit" name="random_cat" value="random_cat">Random my cat avatar</button>

    </form>


    <form action="/random_dog">
        Surprise me with my Dog avatar

        <button type="submit" name="random_dog" value="random_dog">Random my dog avatar</button>

    </form>
    




{% endblock %}