{% extends 'base.html' %}

{% block title %}My random dog avatar{% endblock %}

{% block body %} 

    <h3> Your dog avatar is 
    <div>
        <img src="{{data['message']}}">
    </div>

    <div>
        Look at that face. I love it!
        <br><button name="like_dog" value="like_dog">Love</button>

    </div>

    <form action="/random_dog">
        Hmm, can I get another try?

        <br><button type="submit" name="random_dog" value="random_dog">My dog avatar</button>

    </form>


{% endblock %}