{% extends 'base.html' %}

{% block title %}My random cat avatar{% endblock %}

{% block body %} 

    <h3> Your cat avatar is </h3>
    <div>
        <img src="{{data}}">
    </div>

    <div>
        Awww, this cat is cute. I like it!
        <br> <button name="like_cat" value="like_cat">Like</button>
        <button name="download_cat" value="download_cat">Download</button>
    </div>

    <form action="/random_cat">
        Hmm, give me another try.

        <br><button type="submit" name="random_cat" value="random_cat">My cat avatar</button>

    </form>

{% endblock %}