{% extends 'base.html' %}

{% block title %}My random Disney avatar{% endblock %}

{% block body %} 

    <h3> Your Disney character is {{data["name"]}}</h3>
    {% if data["films"] %}
    <h4> in the Disney movie '{{data["films"][0]}}'' </h4>
    {% elif data["shortFilms"] %}
    <h4> in the Disney movie '{{data["shortFilms"][0]}}'' </h4>
    {% elif data["tvShows"] %}
    <h4> in the Disney movie '{{data["tvShows"][0]}}'' </h4>
    {% endif %}
    <div>
        <img src="{{data['imageUrl']}}">
    </div>

    <div>
        I love this character. 
        <br><button name="like_disney" value="like_disney">Thumb up</button>
        <button name="download_disney" value="download_disney">Download</button>
    </div>

    <form action="/random_disney">
        Hmmm, I don't like this character.
        <br> Give me a different one.

        <br><button type="submit" name="random_disney" value="random_disney">My Disney avatar</button>

    </form>



{% endblock %}